<div class="span3">
   <div class="well sidebar-nav">
     <ul class="nav nav-list">
       <li class="nav-header">Admin</li>
       <li><a href="#">Create User</a></li>
       <li><a href="#">All Users</a></li>
       
       
       <li class="nav-header">Cashier</li>
       <li><a href="#">Approve Payment</a></li>
       <li><a href="#">Pending Approval</a></li>
       <li><a href="#">View Debt Collector</a></li>
       <li><a href="#">All Approved</a></li>
       <li><a href="#">All Unapproved</a></li>
       
       
       <li class="nav-header">Loan Creator</li>
       <li><a href="#">Create Loan</a></li>
       <li><a href="#">All Loans</a></li>
       <li><a href="#">View Payments</a></li>

       <li class="nav-header">Debt Collector</li>
       <li><a href="#">All Accounts </a></li>
       <li><a href="#">Approved Payments</a></li>
       <li><a href="#">Pending Approval</a></li>
       <li><a href="#">Not Approved</a></li>
       

            
     </ul>
   </div><!--/.well -->
 </div><!--/span-->