<ul class="breadcrumb">
  <li>
    <a href="#">Search Client</a>
    <span class="divider">/</span>
  </li>
  
  <li>
    <a href="#">Select Loan</a>
    <span class="divider">/</span>
  </li>
  
  <li>
    <a href="#">Create Payment</a>
  </li>
  

</ul>